<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>信息提示</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" th:href="@{/css/h5/pay.css}"/>
    <script type="text/javascript" th:src="@{/js/plugins/iconfont.js}"></script>
</head>
<body>
<div style="text-align: center">
    <h3>系统异常信息</h3>
    <div th:text="${exception.message}"></div>
</div>
</body>
</html>