<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>信息提示</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
</head>
<body>
<div style="text-align: center">
    您的会话已过期，请重新登录
</div>
<script th:src="@{/Public/js/jquery-1.8.0.min.js}"></script>
<script>

    //强制窗口打开为顶级窗口
    var b = window.top!=window.self;
    if(b){
        window.top.location.href = "/merchant/auth/login";
    }

</script>
</body>
</html>