<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttg.service.park.intelligent.mapper.MerchantBasicSettingMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <resultMap id="BaseResultMap" type="com.ttg.service.park.intelligent.entity.MerchantBasicSetting" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="mer_id" property="merId" jdbcType="VARCHAR" />
        <result column="mer_logo" property="merLogo" jdbcType="VARCHAR" />
        <result column="countdown_time" property="countdownTime" jdbcType="INTEGER" />
        <result column="attr1_url" property="attr1Url" jdbcType="VARCHAR" />
        <result column="attr2_url" property="attr2Url" jdbcType="VARCHAR" />
        <result column="attr3_url" property="attr3Url" jdbcType="VARCHAR" />
        <result column="attr4_url" property="attr4Url" jdbcType="VARCHAR" />
        <result column="attr5_url" property="attr5Url" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_Time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
        <result column="last_updated_time" property="lastUpdatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
    id, mer_id, mer_logo, countdown_time, attr1_url, attr2_url, attr3_url,
    attr4_url, attr5_url,create_by,create_Time,last_updated_by,last_updated_time
    </sql>

    <select id="selectByMerId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from merchant_basic_setting
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
