<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>营销管理</title>
    <link href="/admin/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/admin/css/layout.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/admin/js/vue.js"></script>
    <script type="text/javascript" src="/admin/js/jquery-3.1.1.min.js"></script>
    <!--vue-Element-->
    <link href="/element/index.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/element/index.js"></script>
    <script type="text/javascript">
    </script>
    <style type="text/css">
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
<section id="content" v-cloak>
    <section id="boxRight" class="boxRight">
        <div class="boxRight_tit f1 borderb">营销管理>广告类型</div>
        <article class="boxRightCon">
            <div class="CommonInput viplist_formlist viplist_formlist_1">
                <ul>
                    <li>
                        <div class="org_btn"><a @click='add'>添加广告</a></div>
                    </li>
                </ul>
            </div>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="commonTable commonTable4">
                <tr>
                    <th>广告编号</th>
                    <!-- <th>广告名称</th> -->
                    <th>广告类型</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <!--<th>创建人</th>-->
                    <!-- <th>备注</th> -->
                    <th>操作</th>
                </tr>
                <tr v-for='(item,index) in Manage'>
                    <td>{{index+1}}</td>
                    <!-- <td>{{item.templateName}}</td> -->
                    <td>{{item.tempCategoryDesc}}</td>
                    <td>{{item.templateStatus | showStatus}}</td>
                    <td>{{item.createTime}}</td>
                    <!--<td>{{item.createBy}}</td>-->
                    <!-- <td>{{item.note}}</td> -->
                    <td class="red"><a @click='modulerevise(item.id)'>编辑</a><a @click='remove(item.id)'>删除</a></td>
                </tr>
            </table>
        </article>
    </section>
</section>
<script type="text/javascript">
    parent.$('#myContent').css('height', parent.$('.content').height())
    new Vue({
        el: '#content',
        data() {
            return {
                changeGray: '',
                type: true,
                Manage: [],
            }
        },
        methods: {
            add() {
                window.location.href = '/merchant/market/adedit?=' + 1
            },
            modulerevise(id) {
                window.location.href = "/merchant/market/adedit?=" + id + '&' + 2;
            },
            remove(id) {
                var that = this;
                that.$confirm('此操作将永久删除该记录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function() {
                    $.ajax({
                        url: '/merchant/Advertisement/category/delete/' + id,
                        type: 'delete',
                        success: function () {
                            that.$message({
                                showClose: true,
                                message: '删除成功',
                                type: 'success'
                            });
                            location.reload();
                        },
                        error: function () {
                            that.$message({
                                showClose: true,
                                message: '删除失败',
                                type: 'error'
                            });
                        }
                    });
                }).catch(function() {
                    that.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            ManageType() {
                if (this.type === true) {
                    this.type = false
                } else {
                    this.type = true
                }
            },
            change(num) {
                this.changeGray = num
            },
        },
        created() {
            var that = this;
            var params = {}
            $.ajax({
                url: '/merchant/Advertisement/category/list',
                type: 'get',
                data: params,
                statusCode: {
                    404: function () {
                        alert('网络错误') //报错提示
                    }
                },
                success: function (params) {   //(data,textStatus)
                    that.Manage = params.data;
                }
            })
        },
        filters:{
            showStatus(val){
                return val==0?"不启用":"启用";
            }
        }
    });
</script>
</body>
<style lang='less'>
    .nextselect {
        font-size: 14px;
    }

    .nextselect2 {
        background: #EEEEEE
    }

    .active {
        background: #EEEEEE
    }

    .blockText {
        display: block;
        width: 130px;
        height: 37.6px;
        margin: auto;
    }
</style>
</html>
