<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="format-detection" content="telephone=no">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <title>智慧停车</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/user/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/user/css/style.css">
    <script src='/user/js/jquery.min.js'></script>
    <script src="/user/js/vue.js"></script>
    <!--vue-Element-->
    <link href="/element/index.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/element/index.js"></script>

    <script>
        // class
        !function (navigator) {
            let userAgent = navigator.userAgent;
            documentElement = document.documentElement;
            if (userAgent.match(/micromessenger\/5/gi)) {
                documentElement.className += " mobile wx_mobile wx_mobile_5";
            } else if (userAgent.match(/micromessenger/gi)) {
                documentElement.className += " mobile wx_mobile";
            } else if (userAgent.match(/ucbrowser/gi)) {
                documentElement.className += " mobile uc_mobile";
            } else if (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent.toLowerCase())) {
                documentElement.className += " mobile";
            } else if (userAgent.toLowerCase().match(/msie/gi) && (parseFloat(userAgent.toLowerCase().match(/msie ([0-9]{1,}[\.0-9]{0,})/i)[1] || 999) < 9)) {
                documentElement.className += " pc pc-ie pc-ie8";
            } else if (userAgent.toLowerCase().match(/msie/gi) || navigator.msPointerEnabled || navigator.pointerEnabled) {
                documentElement.className += " pc pc-ie";
            } else {
                documentElement.className += " pc";
            }
        }(navigator);
        // meta
        !function (userAgent) {
            let screen_w = parseInt(window.screen.width),
                scale = screen_w / 1242;
            if (/Android (\d+\.\d+)/.test(userAgent)) {
                let version = parseFloat(RegExp.$1);
                document.write(version > 2.3 ? '<meta name="viewport" content="width=1242, minimum-scale = ' + scale + ", maximum-scale = " + scale + ', target-densitydpi=device-dpi">' : '<meta name="viewport" content="width=1242,target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=1242, user-scalable=no, target-densitydpi=device-dpi">');
            }
        }(navigator.userAgent);
    </script>
    <style type="text/css">
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
<div id="content" class="box">
    <div class="sucText failText"><span class="p">付款失败！</span></div>
    <div class="submitBtn orgbtn">
        <a :href=`/user/pay/search?${successInfo.merId}`>
            <button type="submit">返回首页</button>
        </a>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var orderNo = [[${orderNo}]]
    new Vue({
        el: '#content',
        data() {
            return {
                successInfo: {},
                orderNo:""
            }

        },
        created() {
            var that = this;
            this.orderNo = orderNo;
            var params = JSON.stringify({})
            $.ajax({
                url: '/merchant/car/successInfo/' + this.orderNo,
                type: 'get',
                success: function (params) {
                    that.successInfo = params.data;
                }
            })
        }
    })
</script>
</body>
</html>
